@model IEnumerable<TeslaDrive.Models.Car>

@{
    ViewData["Title"] = "Cars for rent";
}

<h1>Manage Cars</h1>

<p>
    <a asp-action="Create">Create New Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Range)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color:green; font-weight:bold;">
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td style="color:red;">
                @Html.DisplayFor(modelItem => item.Hp)
            </td>
            <td style="color:blue;">
                @Html.DisplayFor(modelItem => item.Range)
            </td>
            <td>
                <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a type="button" class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
